.bgHero{
    background-color: bisque;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p{
    margin:10px 20px;
}

.heroTitle{
    font-size: 16px;
}